.companies {
  padding: 70px 87px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.companies__title {
  color: #000;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
}

.companies__img {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media (width < 1280px) {
  .companies {
    padding: 70px 65px;
  }
}
