.navbar {
  padding: 38px 117px 0 117px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar__list {
  display: flex;
  gap: 237px;
  align-items: center;
}

.navbar__list--menu {
  font-size: 14px;
  font-weight: 500;
  margin-left: 100px;
}

.navbar__button {
  display: flex;
  gap: 50px;
  font-size: 14px;
}

.navbar__button--start {
  background: #4f46ba;
  padding: 16px 36px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}
