.blog {
  padding: 148px 118px;
}

.blog__heading {
  font-size: 71px;
  font-weight: 800;
  line-height: 66px;
  letter-spacing: -2.13px;
  margin-bottom: 72px;
}

.blog__posts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 29px;
}

.posts--top__content {
  padding: 34px 0 53px 28px;
}

.blog__posts--top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #fff;
  height: 285px;
}

.posts__title {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.12px;
  text-transform: uppercase;
}

.posts__top--heading {
  font-size: 29px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.58px;
  width: 524px;
  margin-top: 6px;
}

.posts__button {
  color: #1b1c31;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  margin-top: 68px;
}

.blog__post--bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 28px;
}

.bottom__posts {
  background-color: white;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}

.posts__heading {
  width: 310px;
  font-size: 29px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.58px;
  margin-top: 7px;
}

.posts--bottom__content {
  padding: 25px 0 58px 32px;
}

.faq {
  padding-left: 119px;
  padding-right: 117px;
  position: relative;
}

.faq__image1 {
  position: absolute;
  top: 87px;
  left: 0;
}

.faq__image2 {
  position: absolute;
  right: 0;
}

.faq__heading {
  font-size: 71px;
  font-weight: 800;
  line-height: 76px;
  letter-spacing: -2.13px;
  width: 544px;
}

.faq__content {
  display: flex;
  justify-content: space-between;
  margin-top: 71px;
  gap: 30px;
}

.faq__questions {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.questions {
  border-radius: 10px;
  border: 1px solid #cfcfcf;
  background: #fff;
  padding: 25px;
}

.questions--heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-weight: 800;
  line-height: 22px;
}

.questions--para {
  width: 70%;
  margin-top: 23px;
  font-size: 16px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: -0.32px;
}

.faq__morequestions {
  width: 401px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  padding: 67px 32px 32px 32px;
  width: 401px;
  border-radius: 10px;
  border: 1px solid #cfcfcf;
  background: #fff;
}

.morequestion--content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.morequestions__image {
  margin-bottom: 43px;
}

.morequestions__heading {
  font-size: 22px;
  font-weight: 800;
  line-height: 22px;
}

.morequestions__para {
  font-size: 16px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: -0.32px;
  margin-top: 23px;
}

.morequestions__button {
  padding: 22px 70px;
  background: #ff7f5c;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: -0.32px;
}

.cta {
  padding: 150px 122px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta__content {
  background-image: url("/images/cta.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 105px 219px;
}

.cta__heading {
  width: 763px;
  text-align: center;
  color: #fff;
  font-size: 56px;
  font-weight: 800;
  line-height: 61px;
  letter-spacing: -1.68px;
}

.cta__button {
  border-radius: 10px;
  background: #ff7f5c;
  padding: 19px 42px;
  margin-top: 41px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.36px;
}

@media (width < 1280px) {
  .blog {
    padding: 110px 88px;
  }

  .blog__heading {
    font-size: 45px;
    line-height: 55px;
    margin-bottom: 45px;
  }

  .blog__posts--top {
    display: flex;
    justify-content: space-evenly;
  }

  .blog__posts--top img {
    width: 300px;
    object-fit: cover;
  }

  .blog__post--bottom {
    justify-content: space-evenly;
  }

  .questions--para {
    width: auto;
  }

  .faq {
    padding-left: 89px;
    padding-right: 87px;
  }

  .faq__heading {
    font-size: 45px;
    line-height: 55px;
    width: 344px;
  }

  .faq__content {
    flex-wrap: wrap;
    justify-content: center;
  }

  .cta {
    padding: 110px 80px;
  }

  .cta__content {
    width: 800px;
    padding: 50px 150px;
  }

  .cta__heading {
    font-size: 45px;
    line-height: 55px;
  }

  .cta__button {
    padding: 14px 30px;
    font-size: 16px;
    line-height: 25px;
  }
}

@media (width < 1024px) {
  .blog {
    padding: 80px 48px;
  }

  .blog__posts {
    align-items: center;
  }

  .blog__posts--top {
    flex-direction: column;
    height: auto;
    align-items: center;
    width: fit-content;
  }

  .blog__posts--top img {
    width: auto;
    object-fit: cover;
  }

  .cta {
    padding: 80px 40px;
  }

  .cta__content {
    width: 700px;
    height: 300px;
    padding: 20px 10px;
    background-image: none;
    background-color: #3734a9;
    border-radius: 20px;
  }

  .cta__heading {
    font-size: 35px;
    width: 90%;
    line-height: 45px;
  }
}

@media (width < 1024px) {
  .blog {
    padding: 30px 28px;
  }
  .blog__posts--top {
    width: 99%;
  }

  .posts__top--heading {
    width: auto;
  }

  .posts__heading {
    width: auto;
  }

  .faq__image2 {
    display: none;
  }

  .faq {
    padding-left: 14px;
    padding-top: 20px;
    padding-right: 14px;
  }

  .faq__heading {
    font-size: 40px;
    line-height: 55px;
    width: auto;
  }
}
